@import '../../../scss/variables';

.waterContainer {
   margin: 0 80px 90px;

   .waterSection {
      .waterTitle {
         text-transform: uppercase;
         color: $color-l-brown;
         background: none;
         border-bottom: 1px solid $color-l-brown;
         font-weight: 700;
         font-size: 24px;
         line-height: 24px;
         letter-spacing: 0.14em;
         padding-bottom: 30px;
         margin-bottom: 30px;
      }
   }
   // .waterDropdown {
   //    float: right;
   //    margin-bottom: 30px;

   //    button { 
   //       width: 300px;
   //       height: 40px;
   //       position: relative;
   //       display: flex;
   //       align-items: center;
   //       justify-content: space-between;
   //       padding: 0 19px 0 25px;
   //       border-radius: 20px;
   //       background: rgba($color-white, $alpha: 0.06);
   //       border: 1px solid $color-white;
   //       box-shadow: none;
   //       color: $color-white;
   //       z-index: 1001;
   //       // &.show {
   //       //    box-shadow: none;
   //       //    background-color: transparent;
   //       //    content: '\F282';
   //       // }
   //    }
   // }

      .waterDropdown {
         float: right;
         margin-bottom: 30px;
       .dropdownToggle {
         width: 300px;
         height: 40px;
         position: relative;
         border-radius: 20px;
         // background: $color-brown;
         background: rgba($color-white, $alpha: 0.06);
         border: 1px solid $color-white;
         color: $color-white;
         box-shadow: none;
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 0 19px 0 25px;
         z-index: 1001 !important;
         &::after {
            content: '\F282';
            font-family: bootstrap-icons;
            border-top: none;
            transform: rotate(0);
         }
         &::after {
            transform: rotate(180deg);
            transition: transform 200ms ease-in-out;
         }
      }
      .dropdownMenu {
         width: 300px;
         height: 87px;
         top: -42px !important;
         border-radius: 20px;
         border: 1px solid $color-white;
         background: $color-brown;
         padding: 0 7px 0;
         z-index: 100;
         a {
            color: $color-white;
            padding: 7px 10px;
            margin-top: 42px;
         }
         // a:hover {
         //       background-color: transparent;
         //    }
         // a:active {
         //       // background: none;
         //       display: none;
         // }
      } 
   }
   .waterImg {
      width: 100%;
      background-color: transparent;
      border: none;
      border-radius: 0;
      
   }  
}

@media (max-width: 768px) {
   .waterContainer {
      margin: 0 44px 90px;
   
      .waterSection {
         .waterTitle {
            padding-bottom: 14px;
            margin-bottom: 38px;
            font-size: 18px;
            line-height: 18px;
         }
      }
   }
}
@media (max-width: 375px) {
   .waterContainer {
      margin: 0 32px 90px;
      .waterDropdown {
         width: 100%;
         display: flex;
         justify-content: center;
      }
   }
}