@import '../../../scss/variables';

.aboutContainer {
   margin-bottom: 220px;
   .about {
      margin: 0 80px;
      .aboutTitle {
         text-transform: uppercase;
         color: $color-l-brown;
         border-bottom: 1px solid $color-l-brown;
         font-weight: 700;
         font-size: 24px;
         letter-spacing: 0.14em;
         padding-bottom: 30px;
         margin-bottom: 32px;
      }
      .aboutCard {
         background-color: transparent;
         border: none;
         color: $color-white;
         .aboutImg {
            position: absolute;
            top: 0;
            width: 632px;
            height: 472px;
         }
         .aboutText {
            width: 524px;
            padding: 0;
            overflow-y: auto;
            font-family: 'Barlow';
            font-weight: 400;
            font-size: 22px;
            line-height: 34px;
         }
      }
      .aboutTop {
         .aboutImgTop {
            right: 0;
         }
         .aboutTextTop {
            margin-bottom: 64px;
            height: 544px;
            span {
               font-weight: bold;
            }
            p {
               margin-top: 30px;
            }
            .aboutList {
               font-family: 'Barlow';
               font-weight: 400;
               font-size: 22px;
               line-height: 34px;
               margin-bottom: 95px;
               
               li {
                  display: list-item;
                  color: white;
                  background-color: transparent;
                  list-style-type: disc;
                  border: none;
                  padding: 0;
                  margin-left: 32px;
                  
               }
            }
         }
      }
      .aboutBottom {
         display: flex;
         align-items: flex-end;
         .aboutImgBottom {
            left: 0;
         }
         .aboutTextBottom {
            position: relative;
            top: 0;
            left: 0;
      
            .aboutTextTitle {
               font-family: 'Barlow Condensed';
               font-weight: 600;
               font-size: 30px;
               line-height: 36px;
               color: $color-l-brown;
               margin-bottom: 30px;
            }
         }
      }
      
   }
}

@media (max-width: 768px) { 
   .aboutContainer {
      margin-bottom: 80px;
      .about {
         margin: 0 44px;
         .aboutTitle {
            padding-bottom: 14px;
            margin-bottom: 24px;
            font-size: 18px;
            line-height: 18px;
         }
         .aboutCard {
            .aboutImg {
               width: 330px;
               height: 360px;
            }
            .aboutText {
               width: 332px;
               font-size: 18px;
               line-height: 24px;
            }
         }
         .aboutTop {
            .aboutTextTop {
               margin-bottom: 60px;
               height: 408px;
               p:first-child {
                  margin-top: 0;
               }
               p {
                  margin-top: 30px;
               }
               .aboutList {
                  width: 337px;
                  font-size: 18px;
                  line-height: 24px;
                  margin-bottom: 0;
               }
            }
         }
         .aboutBottom {
            height: 360px;
            .aboutTextBottom {
               .aboutTextTitle {
                  line-height: 28px;
                  font-size: 26px;
               }
            }
         }
      }
   }
 }

@media (max-width: 375px) {
   .aboutContainer {
      margin-bottom: 100px;
      .about {   
         .aboutCard {
            .aboutImg {
               height: 216px;
               margin-bottom: 32px;
            }
            .aboutText {
               width: 295px;
               height: 642px;
            }
         }
         .aboutTop {
            .aboutImgTop {
               width: 290px;
            }
            .aboutTextTop {
               position: relative;
               top: 245px;
            }
         }
         .aboutBottom {
            height: auto;
            align-items: flex-start;
            .aboutImgBottom {
               width: 295px;
               left: 0;
            }
            .aboutText {
               top: 230px;
            }
         }
      }
   }
}