@import '../../../scss/variables';

.advantagesContainer {
   margin: 0 80px 100px;

   .advantagesSection {
      // margin: 0 80px;
      // background-color: transparent;
      // border: none;
      // color: $color-white;

      .advantagesTitle {
         text-transform: uppercase;
         color: $color-l-brown;
         background: none;
         border-bottom: 1px solid $color-l-brown;
         font-weight: 700;
         font-size: 24px;
         line-height: 24px;
         letter-spacing: 0.14em;
         padding-bottom: 30px;
         margin-bottom: 55px;
      }
   }
   
   .advantagesText {
      margin-bottom: 115px;
      width: 416px;
      font-family: 'Barlow Condensed';
      font-weight: 600;
      font-size: 30px;
      line-height: 36px;
      color: $color-l-brown;


   }

   .advantages {
      .advantagesCol {
         .advantagesCard {
            display: flex;
            align-items: center;
            background: transparent;
            border: none;
            .advantagesCardImg {
               width: 200px;
               height: 200px;
               background-color: $color-ld-brown;
               border-radius: 50%;
               margin-bottom: 35px;
            }
            .advantagesCardBody{
               text-align: center;
               padding: 0;
               .advantagesCardBodyTitle {
                  font-family: "Barlow Condensed";
                  font-size: 30px;
                  font-weight: 600;
                  line-height: 36px;
                  color: $color-l-brown;
                  margin-bottom: 45px;
               }
            }
         }
      }
   }
}

@media (max-width: 768px) {
   .advantagesContainer {
      margin: 0 44px 100px;
      .advantagesSection {
         .advantagesTitle {
            padding-bottom: 14px;
            margin-bottom: 38px;
            font-size: 18px;
            line-height: 18px;
         }
      }
      .advantagesText {
         font-size: 26px;
         line-height: 28px;
         
      }
   }
}
@media (max-width: 375px) {
}