//variables
$color-white: #ffffff; //text
$color-l-brown: #CF9F68; // title-text, under-line
$color-ld-brown: #B6722F; //header-menu, font-icon
$color-brown: #403B37; //waterSection
$color-gray: #383434; //background-color
