@import '../../../scss/variables';

.chlorophyllContainer {
   display: inline-block;
   margin: 0 80px 280px;
   .chlorophyllSection {
      .chlorophyllTitle {
         text-transform: uppercase;
         color: $color-l-brown;
         background: none;
         border-bottom: 1px solid $color-l-brown;
         font-weight: 700;
         font-size: 24px;
         line-height: 24px;
         letter-spacing: 0.14em;
         padding-bottom: 30px;
         margin-bottom: 30px;
      }
   }
   .chlorophyllImg {
      background-color: transparent;
      border: none;
      border-radius: 0;
   }
}

@media (max-width: 768px) {
   .chlorophyllContainer {
      margin: 0 44px 90px;
      .chlorophyllSection {
         .chlorophyllTitle {
            padding-bottom: 14px;
            margin-bottom: 38px;
            font-size: 18px;
            line-height: 18px;
         }
      }
   }
}
@media (max-width: 375px) {
   .chlorophyllContainer {
      margin: 0 32px 90px;
   }
}
